.vscode
node_modules
tmp
public
private
pysrc
wip
direct_links
inprogress
remarkjs
resources
remarkjs_inprogress
remarkjs_public
remarkjs_private
reveal_public
reveal_private
reveal_inprogress
pics
templates
password_template.html
Makefile
generateReadme.js
